{
  "projects": {
    "default": "__AUDIOTOOL_FIREBASE_PROJECT_ID__"
  },
  "targets": {
    "__AUDIOTOOL_FIREBASE_PROJECT_ID__": {
      "hosting": {
        "__AUDIOTOOL_FIREBASE_HOST__": [
          "__AUDIOTOOL_FIREBASE_HOST__"
        ]
      }
    }
  }
}
