{
  "__EUPHONIA_FIREBASE_API_KEY__":                "TODO",
  "__EUPHONIA_FIREBASE_AUTH_DOMAIN__":            "yourapp.firebaseapp.com",
  "__EUPHONIA_FIREBASE_DATABASE_URL__":           "https://yourapp.firebaseio.com",
  "__EUPHONIA_FIREBASE_PROJECT_ID__":             "yourproject",
  "__EUPHONIA_FIREBASE_STORAGE_BUCKET__":         "yourbucket",
  "__EUPHONIA_FIREBASE_PROJECT_NUMBER__":         "12345",
  "__EUPHONIA_FIREBASE_HOST__":                   "yourapp",
  "__EUPHONIA_FIREBASE_STORAGE_RECORDING_PATH__": "audioapp_recordings",
  "__EUPHONIA_FIREBASE_STORAGE_CONSENTS_PATH__":  "audioapp_consents",
  "__EUPHONIA_ADMIN_EMAILS_LIST__":               [,
    "admin1@yourcompany.com",
    "admin2@yourcompany.com"
  ]
}